div.row
	div.col-md-3
		form(role='form')
			.form-group
				label(for='url')
				input.form-control#inputUrl(type='email', placeholder='Enter url')
			button.btn.btn-default(type='submit')
				| NodejsBootstrapRequirejsStarterkit
	div.col-md-9 
		#result
			| Welcome